<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initiañ-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title%></title>
    <%- include("./partials/head.html") %>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <%- include("./partials/navigation.html") %>
    <i class="far fa-eclipse"></i>
    <h1 class="animate__animated animate__bounce">Login</h1>
    <a href="/chat" target="_blank">Título del </a>

    <%- include("./partials/footer.html") %>
    <script src="/js/main.js" charset="utf-8"> </script>
</body>
</html>